.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
  padding-top:20px;
  padding-bottom: 20px;
}
/* Layout stelle e commenti */
/* Overall Rating */

#overall_rating{
  padding-top: 6px;
  padding-bottom: 6px;
}
#star{

  float:left;
  padding: 100px 5px 5px;
  height: 40%;
  width:30%;

}
#comments{
  float:left;
  width:70%;
  padding-left: 30px;
  padding-right: 60px;
}
p.o_rating{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 2em;
}
.footer{
  clear:both
}
#course_prof{
  text-align: left;
  margin-top: 20px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;

}
#title{
  text-align: left;
}
