
<!-- TODO: modificare tasto submit dimensioni sbagliate-->
<!-- TODO: abbellimento-->
<!-- TODO: dopo il submit tornare alla pagina di view_tips aggiornata-->

{% extends "base_template.html" %}

{% block content %}
     <link href="{{ url_for('static',  filename='css/rating.css') }}" rel="stylesheet">
    <p>Please rate the course by giving from 1 to 5 stars to each item</p>

    <div id="content">
        <form class="form-signin"  action="{{ url_for('course_tips') }}" target="_self" method="post">
        <input type="hidden" name="input_course" value="{{ course }}">
        <input type="hidden" name="input_professor" value="{{ professor }}">
       <div class="input-group">
                <p class="field"> How is the quality of teaching?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-1-{{ i }}" name="input_teaching" value="{{ i }}" required>
                        <label for="rating-input-1-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
       </div>
        <div class="input-group">
                <p class="field"> Are the course's objectives clear and comprehensive?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-2-{{ i }}" name="input_comprehension" value="{{ i }}" required>
                        <label for="rating-input-2-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Is the professor available?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-3-{{ i }}" name="input_availability" value="{{ i }}" required>
                        <label for="rating-input-3-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Are students able to interact and partecipate during lessons?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-4-{{ i }}" name="input_participation" value="{{ i }}" required>
                        <label for="rating-input-4-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Is the teaching material (slides, exercises) useful for studying?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-5-{{ i }}" name="input_material" value="{{ i }}" required>
                        <label for="rating-input-5-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Is the textbook useful for studying?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-6-{{ i }}" name="input_books" value="{{ i }}" required>
                        <label for="rating-input-6-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Is it necessary to attend classes?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-7-{{ i }}" name="input_attending" value="{{ i }}" required>
                        <label for="rating-input-7-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Score the difficulty of the exam:
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-8-{{ i }}" name="input_difficulty" value="{{ i }}" required>
                        <label for="rating-input-8-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Is the examination time provided enough?
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-9-{{ i }}" name="input_time" value="{{ i }}" required>
                        <label for="rating-input-9-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>
        <div class="input-group">
                <p class="field"> Give a score to the speed of professor in correcting the exams:
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        <input type="radio" class="rating-input "
                            id="rating-input-10-{{ i }}" name="input_result_rapidity" value="{{ i }}" required>
                        <label for="rating-input-10-{{ i }}" class="rating-star"></label>

                    {% endfor %}
                </span></p>
        </div>

         <div class="input-group">

                <p class="field">Here you can add all the advice and tips that you think people attending this course should know: </p>
                <textarea rows="5" cols="50" class="boh" name="input_note">

                </textarea>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit" name="submit_tip" value="submit_tip" style="margin-top: 3%">Submit</button>
        </form>
    </div>
</div>

{% endblock %}