<!-- In flask we have:
variables are defined with { {  } }
logic is defined with { % logic % } and { % endlogic % } JINJA TEMPLATE

EVERYTHING WE WANT THE USER TO ACCESS TO IS IN THE STATIC FOLDER (ex. css)
-->
{% extends "base_template.html" %}
{% block title %}{{ title }}{% endblock %}


 {% block head %}

        <div style="position: relative; width: 100%; margin: 0; margin-top: 1%">

        <div class="navbar-header" style="margin-left: 5%">
          <a href="{{ url_for('homepage') }}" target="_self"><img src="{{ url_for('static', filename='images/studentips.png') }}" style="margin-top: 0.4%; margin-bottom: 0.4%; height: 60px"></a>
        </div>

        <div class="login_event" style="width: 200px; height: 10px; float:left ">
            <!-- LOGIN POPUPS -->
            {% if login_successful == True %}

                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Login Successful
                </div>

            {% elif login_successful == False %}

                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Login failed
                </div>

            {% endif %}


        </div>

        <div class="login" style=" ;margin-right: 5%; margin-top: 0.3%">
        {% if username %}
            <div style="">
            Welcome <span class="user">{{ username.first_name }}</span>
                <button class="btn btn-lg btn-success" style="margin-top: 0.4%; margin-bottom: 0.4%;" name="logout" type="submit">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile
                    </button>
                <form method="post" action="{{ url_for('homepage') }}" target="_self" style="display:inline">
                    <button class="btn-logout" style="margin-top: 0.4%; margin-bottom: 0.4%" name="logout" type="submit">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Logout
                    </button>
                </form>

            </div>
        {% else %}

            <div >
            <a class="btn btn-lg btn-success" href="{{ url_for('signup') }}" target="_self" style="margin-top: 0.4%; margin-bottom: 0.4%">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Signup
            </a>
            or <a href="{{ url_for('login') }}" target="_self">Login</a>
            </div>
        {% endif %}
        </div>
        </div>
    {% endblock %}



{% block content %}

<header>

</header>

<body>
<script type="text/javascript">
    function show(elementId) {
      document.getElementById("tipSelection").style.display="none";
        document.getElementById("formYourCourse").style.display="none";
        document.getElementById("formUniversity").style.display="none";
      document.getElementById("formTutors").style.display="none";
        document.getElementById("formMaterial").style.display="none";
      //and then we simply show wanted one isn't that nicer and cleaner?
        if(elementId == "formYourCourse" || elementId == "formUniversity"){
            document.getElementById("tipSelection").style.display="block";
        }
      document.getElementById(elementId).style.display="block";
    }

    function selectButton(elementId){
        document.getElementById("buttonTips").className = "btn btn-circle btn-xl";
        document.getElementById("buttonYourCourse").className = "btn btn-circle btn-l";
        document.getElementById("buttonUniversity").className = "btn btn-circle btn-l";
        document.getElementById("buttonTutors").className = "btn btn-circle btn-xl";
        document.getElementById("buttonMaterial").className = "btn btn-circle btn-xl";

        if(elementId == "buttonYourCourse" || elementId == "buttonUniversity"){
            document.getElementById("buttonTips").className += " selected";
        }

        document.getElementById(elementId).className += " selected";
    }
</script>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 600px">
      <div class="carousel-inner" role="listbox" style="height: 600px">
        <div class="item active" style="height: 600px">
          <img class="first-slide" src="{{ url_for('static',  filename='images/stud4.png') }}" alt="Front page" style="width: 100%; height: 100%">
          <div class="container">
            <div class="carousel-caption" style="bottom:0; text-shadow: 1px 2px 3px #333; padding: 0;">
              <h1 style="margin-top: 30px; margin-bottom: 0">Welcome to StudenTips.</h1>
              <p style="margin-bottom: 15px">If you're looking for tutors, tips about your university courses and material, this is the right place.</p>
                {% if not username %}
                    <p style="margin-bottom: 15px"><a class="btn btn-lg btn-success" href="{{ url_for('signup') }}" role="button">Sign up today</a></p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <button id="buttonTips" type="button" class="btn btn-circle btn-xl" onclick="show('tipSelection');selectButton('buttonTips');">Tips</button>
            <p style="margin-top: 2%">Here you'll find tips and feedback about your course or the university you're interested in.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
                <button id="buttonTutor" type="button" class="btn btn-circle btn-xl" onclick="show('formTutors');selectButton('buttonTutors');">Tutors</button>
                <p style="margin-top: 2%">Need assistance in preparing your exam? Look if there's a tutor for you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <button id="buttonMaterial" type="button" class="btn btn-circle btn-xl" onclick="show('formMaterial');selectButton('buttonMaterial');">Material</button>
          <p style="margin-top: 2%">Search for slides, notes, lecture recordings or whatsoever.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

        <div class="row index" id="tipSelection" style="width: 50%; margin: 0 auto;">
            <div class="col-lg-6">
                <button id="buttonYourCourse" type="button" class="btn btn-circle btn-l" onclick="show('formYourCourse');selectButton('buttonYourCourse');">Your<br>Course</button>
                <p style="margin-top: 2%">Here you'll find tips and feedback about your course or the university you're interested in.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-6">
                <button id="buttonUniversity" type="button" class="btn btn-circle btn-l" onclick="show('formUniversity');selectButton('buttonUniversity');">University</button>
                <p style="margin-top: 2%">Need assistance in preparing your exam? Look if there's a tutor for you.</p>
            </div><!-- /.col-lg-4 -->
        </div>

        <form class="form-signin index" id="formYourCourse" action = "{{ url_for('course_tips') }}" target="_self" method="post">
            <div class="input-group">
                <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                <label for="input_course" class="sr-only">Course</label>
                <input type="text" name="input_course" class="form-control" placeholder="Course" required autofocus>
            </div>
            <div class="input-group">
                <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <label for="input_professor" class="sr-only">Professor</label>
                <input type="text" name="input_professor" class="form-control" placeholder="Professor" required>
            </div>
            <button class="btn btn-lg btn-success btn-block" name="btn_submit" value="search_yourcouse" type="submit" style="margin-top: 3%">Search</button>
        </form>

        <form class="form-signin index" id="formUniversity" action = "{{ url_for('university_tips') }}" target="_self" method="post">
        <div class="input-group">
              <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
              <label for="input_university" class="sr-only">University</label>
              <input type="text" name="input_university" class="form-control" placeholder="University" required autofocus>
        </div>
        <button class="btn btn-lg btn-success btn-block" name="btn_submit" value="search_university" type="submit" style="margin-top: 3%">Search</button>
      </form>

        <form class="form-signin index" id="formTutors" action = "{{ url_for('wip') }}" target="_self" method="post">
        <div class="input-group">
                <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                <label for="inputCourse" class="sr-only">Course</label>
                <input type="text" id="inputCourse" class="form-control" placeholder="Course" required autofocus>
            </div>
        <div class="input-group">
              <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
              <label for="inputUniversity" class="sr-only">University</label>
              <input type="text" id="inputUniversity" class="form-control" placeholder="University (optional)">
        </div>
        <div class="input-group">
            <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <label for="inputProfessor" class="sr-only">Professor</label>
            <input type="text" id="inputProfessor" class="form-control" placeholder="Professor (optional)">
        </div>
        <button class="btn btn-lg btn-success btn-block" name="btn_submit" value="search_tutors" type="submit" style="margin-top: 3%">Search</button>
      </form>

        <form class="form-signin index" id="formMaterial" action = "{{ url_for('wip') }}" target="_self" method="post">
        <div class="input-group">
                <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                <label for="inputCourse" class="sr-only">Course</label>
                <input type="text" id="inputCourse" class="form-control" placeholder="Course" required autofocus>
            </div>
        <div class="input-group">
              <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
              <label for="inputUniversity" class="sr-only">University</label>
              <input type="text" id="inputUniversity" class="form-control" placeholder="University (optional)">
        </div>
        <div class="input-group">
            <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <label for="inputProfessor" class="sr-only">Professor</label>
            <input type="text" id="inputProfessor" class="form-control" placeholder="Professor (optional)">
        </div>
        <button class="btn btn-lg btn-success btn-block" name="btn_submit" value="search_material" type="submit" style="margin-top: 3%">Search</button>
      </form>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" style="margin: 0; width: 70%; float:left">
          <h2 class="featurette-heading" style="margin-top: 0; color: #5CB85C;">Tips. <span class="text-muted">Useful suggestions for your course.</span></h2>
          <p class="lead">Search for your course and your professor. You'll find feedback and tips from someone who has experienced what you're now into.
          You can even find some useful information about the university you're interested in. Everything you need is in the "Tips" section.
          </p>
        </div>
          <div class="img-container" style="margin: 0; width: 30%; float:right">
              <img class="img-tip" src="{{ url_for('static',  filename='images/lamp.png') }}" style="position: relative; width: 80%; box-sizing: border-box; float: right;">
          </div>

      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
           <div class="img-container" style="margin: 0; width: 30%; float:left; margin-left: 2%">
              <img class="img-tip" src="{{ url_for('static',  filename='images/people icon.png') }}" style="position: relative; width: 80%; box-sizing: border-box; float: left;">
          </div>
        <div class="col-md-7 col-md-push-5" style="position: absolute; margin: 0; width: 65%; padding: 0; padding-left: 0; left: 30%">
          <h2 class="featurette-heading" style="margin-top: 0; color: #5CB85C; padding-top: 0;">Tutors. <span class="text-muted">Help by other students, online or face to face.</span></h2>
          <p class="lead">If you're stuck with some courses and you need help, in Studentips there are plenty of students
          willing to help you. Book a tutoring lesson and meet with your tutor online, offline, individually or even in groups, depending on
          his/her availability. Visit the "Tutors" section to start your research.</p>
        </div>

      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" style="margin: 0; width: 70%; float:left ">
          <h2 class="featurette-heading" style="margin-top: 0; color: #5CB85C;">Material. <span class="text-muted">If textbooks are not enough.</span></h2>
          <p class="lead">Subscribed students could have uploaded their slides, notes and recordings for the course you need help with.
          Find your course and download what you think you'll need for your exam preparation. You just have to visit the "Material" section.</p>
        </div>
           <div class="img-container" style="margin: 0; width: 30%; float:right">
              <img class="img-tip" src="{{ url_for('static',  filename='images/book.png') }}" style="position: relative; width: 80%; box-sizing: border-box; float: right;">
          </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>

{% endblock %}
{% block footer %}
<footer class="footer" style="margin-left: 2%; margin-right: 2%">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Support at <a href="#">info@studentips.com</a></p>
         <div class="languages">
            <span class="flag flag-us"></span>
            <span class="flag flag-it"></span>
            <span class="flag flag-fr"></span>
             <span class="flag flag-de"></span>
             <span class="flag flag-es"></span>
         </div>
</footer>
{% endblock %}
