<!-- In flask we have:
variables are defined with { {  } }
logic is defined with { % logic % } and { % endlogic % } JINJA TEMPLATE

EVERYTHING WE WANT THE USER TO ACCESS TO IS IN THE STATIC FOLDER (ex. css)
-->

{% extends "base_template.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    <!-- In Login and Sign up we don't have the menu on top  -->
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{ url_for('static',  filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',  filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcun icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',  filename='css/cover.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',  filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',  filename='css/languages.css') }}" rel="stylesheet">
</head>
{% endblock %}
{% block content %}

<body>

    <div class="container">
        <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static', filename='images/studentips.png') }}" style="max-width: 30%; margin: 0"></a>
      <form class="form-signin" action="{{ url_for('homepage') }}" method="post">
        <div class="input-group">
              <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <label for="input_email" class="sr-only">Email address</label>
              <input type="email" name="input_email" class="form-control" placeholder="Email address" required autofocus>
          </div>
          <div class="input-group">
              <span class="form-signin input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <label for="input_password" class="sr-only">Password</label>
              <input type="password" name="input_password" class="form-control" placeholder="Password" required>
          </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember_me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
      </form>
        <p>or</p>
        <div class="fb-login-button">
            <a href="http://www.facebook.com"><img src="{{ url_for('static',  filename='images/fb.png') }}"></a>
        </div>






    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>


{% endblock %}

