{% extends "base_template.html" %}
{% block content %}

    <div id="content"  style="clear:both; position: relative; margin-top: 10%;">


            <div id="first section" style="clar:both; position:relative">
                <p class="">Picture, name surname</p>
            </div>
           <div id="second section" style="clar:both; position:relative">
                <p class="">Info</p>
            </div>
            <div id="third section" style="clar:both; position:relative">
                <p class="">place for button (manage your profile, view messages, your past tips, uploaded material)</p>
            </div>

{% endblock %}