{% extends "base_template.html" %}
<!-- value va da 1 a 5 e mi indica qual è la media per quel campo
 field.value è quindi la valutazione di quel campo. es: field - quality of teaching ,da db ottengo che la media dei voti è 4:
 field.value= 4, quindi saranno "checked" le prime quattro stelline-->

{% block content %}
    <div id="content">
        <div id="overall_rating">
            {% if university %}

                <h1 id="uni">{{ university.name }}</h1>

                {% for field, rating in rating_list.iteritems() %}
                    <p class="field">{{ field }}</p>
                    <span class="rating">
                        {% for i in [5,4,3,2,1] %}
                            {% if rating == i  %}
                                <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                                       id="rating-input-1-{{i}}" name={{ field }}>
                                <label for="rating-input-1-{{i}}" class="rating-star"></label>
                            {% else %}
                                <input type="radio" class="rating-input " disabled="disabled"
                                       id="rating-input-1-{{i}}" name={{ field }}> <!-- è importante che gli input abbiano nomi diversi altrimenti non funziona -->
                                <label for="rating-input-1-{{i}}" class="rating-star"></label>
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endfor %}
                <div id="explain">
                    <p class="field">{{ university.num_tips }} people rated {{ university.name }}</p>
                <p class="field">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla v
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla vbla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
                </div>

            {% else %}
                <div class="err">
                <p class="error">There are no info in our database about the University you searched.</p>
                </div>
            {% endif %}
        </div>
    </div>




{% endblock %}