<!--  Rating: https://www.everythingfrontend.com/posts/star-rating-input-pure-css.html
  -->
{% extends "base_template.html" %}
<!-- value va da 1 a 5 e mi indica qual è la media per quel campo
 field.value è quindi la valutazione di quel campo. es: field - quality of teaching ,da db ottengo che la media dei voti è 4:
 field.value= 4, quindi saranno "checked" le prime quattro stelline-->

{% block content %}

    <link href="{{ url_for('static',  filename='css/rating.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',  filename='css/comments2.css') }}" rel="stylesheet">

<!--TODO: Togliere l'hoover alle stelline.  -->


<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>Quality of teaching</p>
            <p>
                 <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value1== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-1">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-1">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
         </span>

            </p>
        </div>
        <div class="col-md-3">
            <p>Quality of teaching</p>
            <p>
                 <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value2== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-2">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-2">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
     </span>
            </p>
        </div>
        <div class="col-md-3">
            <p>Quality of teaching</p>
            <p>

                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value3== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-3">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-3">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>
            </p>
        </div>
        <div class="col-md-3">
            <p>Quality of teaching</p>
            <p>
                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value4== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-4">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-4">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>

            </p>
        </div>

   <div class="row">
        <div class="col-md-4">
            <p>5</p>
            <p>
                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value5== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-5">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-5">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>
            </p>

        </div>
        <div class="col-md-4">
            <p>5</p>
            <p>
                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value6== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-6">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input=6">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>
            </p>
        </div>
        <div class="col-md-4">
            <p>5</p>
            <p>
                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value7== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-7">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-7">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>
            </p>
        </div>
   </div>

     <div class="row">
        <div class="col-md-4">
            <p>8</p>
            <p>
                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value8== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-8">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-8">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>
            </p>
        </div>
        <div class="col-md-4">
            <p>9</p>
            <p>

                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value9== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-9">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-9">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>

            </p>
        </div>
        <div class="col-md-4">
            <p>10</p>
            <p>

                <span class="rating">

            {% for i in [5,4,3,2,1] %}
                {% if value10== i  %}

                    <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                           id="rating-input-1-{{i}}" name="rating-input-10">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% else %}

                    <input type="radio" class="rating-input " disabled="disabled"
                           id="rating-input-1-{{i}}" name="rating-input-10">
                    <label for="rating-input-1-{{i}}" class="rating-star"></label>

                {% endif %}

            {% endfor %}
          </span>

        </div>

    </div>
    </div>
</div>


<!-- commments -->
<!-- http://bootsnipp.com/snippets/featured/comment-posts-layout  -->

    <div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Tips</h2>
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="http://www.is.polito.it/images/personal/elisaughetto.jpg" />
                <figcaption class="text-center">{{ name }}</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> {{ name }}</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ datetime }}</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{ comment }}
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                </div>
              </div>
            </div>
          </article>

        </section>
    </div>
  </div>
</div>







{% endblock %}