{% extends "base_template.html" %}
<!-- value va da 1 a 5 e mi indica qual è la media per quel campo
 field.value è quindi la valutazione di quel campo. es: field - quality of teaching ,da db ottengo che la media dei voti è 4:
 field.value= 4, quindi saranno "checked" le prime quattro stelline-->

{% block content %}
    <link href="{{ url_for('static',  filename='css/fixed_rating.css') }}" rel="stylesheet">

    <div id="content"  style="clear:both; position: relative; margin-top: 10%;>
        <div id=">

            {% if university %}

            {% if university.num_tips >0 %}
                <div id="overall_rating">

                <h1>{{ university.name }}</h1>
                    {% for field, rating in rating_list.iteritems() %}

                                <p class="field">{{ field }}</p>

                                <span class="rating">

                                {% for i in [5,4,3,2,1] %}
                                    {% if rating == i  %}

                                        <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                                               id="rating-input-1-{{i}}" name={{ field }}>
                                        <label for="rating-input-1-{{i}}" class="rating-star"></label>

                                    {% else %}

                                        <input type="radio" class="rating-input " disabled="disabled"
                                               id="rating-input-1-{{i}}" name={{ field }}> <!-- è importante che gli input abbiano nomi diversi altrimenti non funziona -->
                                        <label for="rating-input-1-{{i}}" class="rating-star"></label>

                                    {% endif %}

                                {% endfor %}

                                </span>
                {% endfor %}
                 <p class="field" style="color:grey">{{ university.num_tips }} people tipped courses of this university</p>
                <div style="border-top:dashed; border-top-color: #0f0f0f; ">
                        <p class="contact" style="padding-top: 10px">University ratings are calculated by computing the medium for each field of the scores of all the courses belonging to that university </p>
                    </div>
                </div>
            {% else %} <!-- Non ci sono tip per questa universtità -->
                <div class="error">
                <p class="err">There are no tips about a course of this university in our database so we are not able to calculate average ratings for this university</p>
                    <div class="suggestion">
                        <p class="contact">University ratings are calculated by computing the medium for each field of the scores of all the courses belonging to that university </p>
                    </div>
                </div>
            {% endif %}


            {% else %}
                <div class="error">

                <p class="err">There are no info in our database about the University you searched.</p>

                <div class="suggestion">
                <p class="contact">If you think that this University should be rated on our platform please contact </p>
                <a class="contact" href="mailto:info@studentips.com">info@studentips.com</a>
                </div>
            </div>
            {% endif %}

    </div>




{% endblock %}