{% extends "base_template.html" %}
{% block content %}

    <script type="text/javascript">

        function show(elementId) {
            document.getElementById(elementId).style.display="block";
        }
        function hide(elementId) {
            document.getElementById(elementId).style.display="none";
        }

    </script>

    <div id="content"  style="clear:both; position: relative; margin-top: 10%;">
    {% if not error %}
        {% if tip_list|length != 0 %}
            <div id="overall_rating"><!-- qua ricevo il valore medio di tutti i field -->
                <p class="o_rating">Overall rating
                    <span class="rating">
                        {% for i in [5,4,3,2,1] %}
                            {% if medium_rating == i  %}
                                <input type="radio" class="rating-input" disabled="disabled" checked="checked"
                                       id="rating-input-1-{{i}}" name="rating-input-1">
                                <label for="rating-input-1-{{i}}" class="rating-star"></label>
                            {% else %}
                                <input type="radio" class="rating-input " disabled="disabled" id="rating-input-1-{{i}}" name="rating-input-1">
                                <label for="rating-input-1-{{i}}" class="rating-star"></label>
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>
            </div>
            {% endif %}
        <!-- Visualizzo il bottone per l'aggiunta di un nuovo tip solo se l'utente è loggato -->
        {% if username %}  <!-- Passo come campi nasconti corso e professore cercati dall'utente che poi saranno utilizzati nel form di aggiunta tip-->

            <form class="form-add-tip" id="form_add_tip" action = "{{ url_for('add_tip') }}" method="post" target="_self">
                <input type="hidden" name="input_course" value="{{ course }}">
                <input type="hidden" name="input_professor" value="{{ professor }}">
                <button class="btn btn-lg btn-success" style="margin-top: 0.4%; margin-bottom: 0.4%" type="submit">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Tip
                </button>
            </form>
        {% endif %}
        {% if tip_list|length != 0 %}
            <div id="star" style="padding:0">
            {% for field, rating in rating_list.iteritems() %}
                <!-- qua ricevo il field, ad esempio, Quality of teaching e il rating, che è il valore medio-->
                <p class="field">{{ field }}</p>
                <span class="rating">
                    {% for i in [5,4,3,2,1] %}
                        {% if rating == i  %}
                            <input type="radio" class="rating-input" disabled="disabled" checked="checked" id="rating-input-1-{{i}}" name={{ field }}>
                            <label for="rating-input-1-{{i}}" class="rating-star"></label>
                        {% else %}
                            <input type="radio" class="rating-input " disabled="disabled" id="rating-input-1-{{i}}" name={{ field }}> <!-- è importante che gli input abbiano nomi diversi altrimenti non funziona -->
                            <label for="rating-input-1-{{i}}" class="rating-star"></label>
                        {% endif %}
                    {% endfor %}
                </span>
            {% endfor %}
            </div>
            <div id="comments">
                <div class="page-header">
                    <h1 id="title"><small class="pull-right">{{ tip_list|length }} tips</small> Tips </h1>
                    <p id="course_prof">Course: {{ course }} - Professor: {{ professor }} </p>
                </div>
                {% for user, tip_dict in tip_list.iteritems() %}
                <div class="comments-list">
                    <div class="media">
                        <p class="pull-right"><small> {{ tip_dict['tip'].time }} </small></p>
                        <a class="media-left" href="#">
                            <img class="img-responsive" src = "http://lorempixel.com/40/40/people/3/" />
                           <!-- immagine del profilo : vogliamo metterla??--></a>
                        <div class="media-body">
                            <h4 class="media-heading user_name">{{ user.first_name }} {{ user.last_name }}</h4>
                            <p>{{ tip_dict['tip'].note }}</p>
                            <button id="buttonTips" type="button" class="btn btn-lg btn-success btn-block" onclick="show('tipDetail{{ tip_dict['tip'].id }}');" style="max-width: 20%; padding:0; max-height: 10%; font-size: 15px; margin-left: 43%">Details</button>

                            <div id="tipDetail{{ tip_dict['tip'].id }}" style="display:none; margin-top: 2%; margin-bottom: 1%">
                                <table class="details">
                                {% for tip_field, tip_rating in tip_dict['ratings'].iteritems() %}
                                    <tr>
                                        <td class="field">{{ tip_field }}</td>
                                        <td><span class="rating">
                                            {% for i in [5,4,3,2,1] %}
                                                {% if tip_rating == i  %}
                                                    <input type="radio" class="rating-input" disabled="disabled" checked="checked" id="rating-input-1-{{i}}" name={{ tip_dict['tip'].id}}{{ tip_field }}>
                                                    <label for="rating-input-1-{{i}}" class="rating-star"></label>
                                                {% else %}
                                                    <input type="radio" class="rating-input " disabled="disabled" id="rating-input-1-{{i}}" name={{ tip_dict['tip'].id}}{{ tip_field }}> <!-- è importante che gli input abbiano nomi diversi altrimenti non funziona -->
                                                    <label for="rating-input-1-{{i}}" class="rating-star"></label>
                                                {% endif %}
                                            {% endfor %}
                                    </span></td> </tr>

                                {% endfor %}
                                </table>

                                <p> <button id="hideDetail{{ tip_dict['tip'].id }}" type="button" class="btn btn-lg btn-success btn-block" onclick="hide('tipDetail{{ tip_dict['tip'].id }}');" style="max-width: 20%; padding:0; max-height: 10%; font-size: 15px;  margin-left: 43%; margin-top: 2%">Less Details</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>No tips for {{ course }} with professor {{ professor }} have been found.</p>
        {% endif %}
    {% else %}
        <p>{{ error }}</p>
    {% endif %}
    </div>

{% endblock %}